@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-background: #fff9e3;
}

@theme {
    --font-artistic: tangerine-regular;
}


.rec-button {
    background-color: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    border-radius: 0.25rem;
    padding: 1rem;
    height: 40px;
    width: 100px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.auth-title {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.auth-button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    margin: 1rem;
    width: 9rem;
}

.auth-input {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 16px;
    margin-bottom: 0.5rem;
    width: 70%;
}

.auth-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}